/* CSS reset. */
* {
    margin: 0; 
    padding: 0; 
}

/*--——————————————————————————————————————————————————————————————————————————--*/

/* HTML */
html, body, div {
    width: 100%;
    height: 100%;
}

/*--——————————————————————————————————————————————————————————————————————————--*/

/* Body */
body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

    div { 
        max-width: 1024px;

        margin: 0 auto; 
    }

/*--——————————————————————————————————————————————————————————————————————————--*/

/* Nav area. */
nav {
    width: 100%;

    background-color: #666699;
}

    ul { list-style-type: none; }

        a, a:visited { text-decoration: none; }

        a:hover { text-decoration: underline; }

/*--——————————————————————————————————————————————————————————————————————————--*/

/* Header area. */
header { width: 100%; }

    h1 {
        padding: 40px 0 40px 0;

        font-size: 40px;
        text-align: center;
    }

/*--——————————————————————————————————————————————————————————————————————————--*/

/* Image and H2 area. */
section {
    width: 100%;
    height: 400px;
}

    img { 
        float: left;
        margin-right: 20px; 
    }
   
    h2 {
        margin-bottom: 20px;
        padding-right: 20px;

        font-size: 30px;
        text-align: justify;
    }

/*--——————————————————————————————————————————————————————————————————————————--*/

/* Footer */
footer {
    width: 100%;

    margin-top: 20px;

    text-align: center;

    background-color: #666699;
}